@import url('https://fonts.googleapis.com/css2?family=Alice&family=Lobster+Two&display=swap');

body{
    background-color: #E7EBF0
}

/* .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    background-color: blue;
    border: 1px solid red;
} */

.handy {
    cursor: pointer;
}

* {
}

/* :wght@700 */